data/written_name_train_v2.csv filter=lfs diff=lfs merge=lfs -text
data/written_name_validation_v2.csv filter=lfs diff=lfs merge=lfs -text
data/written_name_test_v2.csv filter=lfs diff=lfs merge=lfs -text
